body{
   background-image: url(../assets/image2.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.thank-you{
    background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-you-content{

text-align: center;
 
   max-width: 980px;
   width: 100%;
   padding: 0 33px;
 
  margin: 0 auto;
 
}


h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
color: #fff;
}

p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff; 
    margin: 15px auto;
}


a{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 200px;
   margin: 0 auto;
   color: #fff;
   text-decoration: none;
   background: #5BC8AF;
   text-align: center;
   padding: 15px;
   font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;

}


a:hover{
    background: #35BB9C;
}

